<mat-card>
    <mat-form-field appearance="outline">
        <mat-label>Title Field</mat-label>
        <input matInput placeholder="Enter title here" [(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Content Field</mat-label>
        <textarea rows="4" matInput placeholder="Enter content here" [(ngModel)]="enteredContent"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button>
</mat-card>