:host{
    display: block;
    margin-top: 16px;
}

.info-text{
    text-align: center;
}

mat-expansion-panel{
  background-color: #000;
  color: white;
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
  border-width: 1px;
}

mat-action-row{
  border-color: #999;
}

mat-accordion{
  margin-bottom: 30px;
}

p{
  color: #999;
  margin-left: 20px;
}

button{
  margin: 5px 5px 5px 5px;
}
